/* color palette from <https://github.com/vuejs/theme> */
:root {
  --bg-white: #ffffff;
  --text-black: #0a0a0a;
}

:root {
  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(var(--bg-white));

    --color-heading: var(--text-black);
    --color-text: var(--text-black);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: 'SourceSerifSemiBold';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #000;
}
