@font-face {
  font-family: 'SourceSerifRegular';
  src: url('../assets/fonts/SourceSerif4_18pt-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSerifMedium';
  src: url('../assets/fonts/SourceSerif4_18pt-Medium.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSerifSemiBold';
  src: url('../assets/fonts/SourceSerif4_18pt-SemiBold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSerifBold';
  src: url('../assets/fonts/SourceSerif4_18pt-Bold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSerifExtraBold';
  src: url('../assets/fonts/SourceSerif4_18pt-ExtraBold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansBold';
  src: url('../assets/fonts/SourceSans3-Bold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'PlaywriteAT-Regular';
  src: url('../assets/fonts/PlaywriteAT-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'IndieFlower-Regular';
  src: url('../assets/fonts/IndieFlower-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'NothingYouCouldDo-Regular';
  src: url('../assets/fonts/NothingYouCouldDo-Regular.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Medium';
  src: url('../assets/fonts/NotoSans-Medium.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSans-Bold';
  src: url('../assets/fonts/NotoSans-Bold.ttf') format('truetype');
  font-display: swap;
  font-style: normal;
}
