@import './base.css';
@import './fonts.css';
@import './utils/reusables.scss';

h1 {
  font-family: 'JostBold';
  font-size: 2rem;
  color: var(--base-black);
  text-transform: uppercase;
}

p {
  font-family: 'JostRegular';
  font-size: 1.5rem;
  color: var(--base-black);
}

a {
  text-decoration: none;
  transition: 0.2s ease;
}

@media (hover: hover) {
  a:hover {
    /* draw line will apear */
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
